.standart-header {
    margin: 64px 0px 54px 0px;
}

.hero-section {
    background-image: url(/assets/home/image-homepage-hero.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: auto;
    height: 590px;
    align-items: flex-end;
}

.main-text{
    width: 445px;
    height: 357px;
    background-color: #ffffff;
    flex-direction: column;
}

.presentation {
    width: 390px;
    height: 200px;              
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;

    letter-spacing: -0.446429px;

    color: #33323D;
    margin: 56px auto;
}

.button-about-me {
    width: 200px;
    height: 48px;
    background-color: #203A4C;
}

.dark-square {
    width: 48px;
    height: 48px;
    background-color: #00000020;
}

.dark-rectangle{
    background-image: url(/assets/icons/down-arrows-green.svg);
    background-repeat: no-repeat;
    background-position-x: 16px;
    background-position-y: 16px;
    width: 200px;
    height: 48px;
}

.about-me-box-content {
    font-family: 'Public Sans', sans-serif;
    margin: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.dark-rectangle:hover {
    background-image: url(/assets/icons/down-arrows-white.svg);
    background-color: #5FB4A2;
    cursor: pointer;
}

.about-me {
    margin: 149px auto 0;
    height: 601px;
    background-image: url(/assets/home/image-homepage-profile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: flex-end;
}

.line-about {
    width: 430px;
    height: 1px;
    background-color: #33323D;

    mix-blend-mode: normal;
    opacity: 0.15;
}

.co-main {
    height: 599px;
    width: 430px;
    flex-direction: column;
}

.co-main > h2 {
    margin: 51px 0 28px 0
}

.co-main > p {
    margin-bottom: 24px;
}

.work-button {
    padding: 17px 28px;
    margin: 0 auto 43px;
}